@model IEnumerable<abvfdv.Models.khachhang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComfirmPassWord)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComfirmPassWord)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ma_khach_hang }) |
            @Html.ActionLink("Details", "Details", new { id=item.ma_khach_hang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ma_khach_hang })
        </td>
    </tr>
}

</table>
