@model abvfdv.Models.sanpham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>sanpham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten_sp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_sp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ma_gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ma_gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ma_ncc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ma_ncc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ma_danh_muc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ma_danh_muc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trang_thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trang_thai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ghi_chu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghi_chu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.xuat_xu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.xuat_xu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mo_ta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mo_ta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinh_anh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinh_anh)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
